@inherits CommonMovieFunctions
@page "/movies/{MovieId:long}"

<h3>Movie</h3>

<EditForm Model="_movie">
    <MatCard Class="">
        <MatCardContent Class="movieForm">
            <div class="row">
                <div class="col-6">
                    <MatStringField FullWidth="true" @bind-Value="@_movie.Title" Label="Title"></MatStringField>
                </div>
                <div class="col-6">
                    <MatDatePicker FullWidth="true" @bind-Value="_movie.ReleaseDate" Label="Release Date" TValue="DateTime?"></MatDatePicker>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <MatTextField @bind-Value="@_movie.Description" Label="Description" TextArea="true" FullWidth="true"></MatTextField>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-6">
                    <MatTextField FullWidth="true" TValue="int?" @bind-Value="@_movie.Hours" Label="Hours"></MatTextField>
                </div>
                <div class="col-6">
                    <MatTextField FullWidth="true" TValue="int?" @bind-Value="@_movie.Minutes" Label="Minutes"></MatTextField>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MatSelect FullWidth="true" Label="Movie Rating" @bind-Value="_movie.MovieRatingsId" TValue="int">
                        @foreach (var rating in _movieRatings)
                        {
                            var movieRating = rating.Rating + " (" + rating.Age.ToString() + "+)";
                            <MatOption TValue="int" Value="@rating.Id">@movieRating</MatOption>
                        }

                    </MatSelect>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-right">
                    <MatButton Raised="true" OnClick="@SaveMovieAsync" Label="Save" Icon="save"></MatButton>
                    <MatButton Type="button" OnClick="@CancelMovieSave" Label="Cancel" Icon="cancel"></MatButton>
                </div>
            </div>
        </MatCardContent>
    </MatCard>
</EditForm>

<style>
    .movieForm {
        padding: 1%;
    }
</style>